Prove/
Appunti/
Implementations/C++/.idea/
Implementations/C++/.idea/workspace.xml
Implementations/C++/CMakeFiles/
Implementations/C++/.bin/

Implementations/Pre-Cuda/.idea/
Implementations/Pre-Cuda/bin/
Implementations/Pre-Cuda/cmake-build-debug/
