Prove/
Appunti/
Implementations/C++/.idea/
Implementations/C++/.idea/workspace.xml
Implementations/C++/CMakeFiles/
Implementations/C++/.bin/
Implementations/C++/CMakeCache.txt
Implementations/C++/Makefile
Implementations/C++/bin/
Implementations/C++/cmake-build-debug/
Implementations/C++/cmake_install.cmake
Implementations/C++/Pre-Cuda.cbp

Implementations/Cuda/CMakeCache.txt
Implementations/Cuda/CMakeFiles/
Implementations/Cuda/Makefile
Implementations/Cuda/bin/
Implementations/Cuda/cmake_install.cmake



SampleImages/GPU_*
SammpleImages/CPU_*