Prove/
Appunti/
Implementations/C++/.idea/
Implementations/C++/.idea/workspace.xml
Implementations/C++/CMakeFiles/
Pre-Cuda/C++/.idea/
Pre-Cuda/C++/cmake-build-debug/
Pre-Cuda/C++/CMakeFiles/
Pre-Cuda/C++/cmake-build-debug/